<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashi | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
   
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="nav-item">
            <div class="container d-flex align-items-center justify-content-center">
                <div class="nav-depart ">

                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                         <span>All Brands</span>
                        <ul class="depart-hover">
                            {%for brand in all_brands%}
                            <li><a href="{%url 'listProducts' brand.id%}">{{brand}}</a></li>
                            {%endfor%}
                        </ul>

                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="{% url 'brandsList' %}">Home</a></li>
                        {% if request.user.is_authenticated %}
                        <li> <a href="#" ><i class="fa fa-user"></i>&nbsp;&nbsp;{{ request.user }}</a></li>

                        <li><a href="{%  url 'userLogout'%}">Log out</a></li>
                        {% else %}
                        <li> <a href="{% url 'userLogin' %}" ><i class="fa fa-user"></i>&nbsp;&nbsp;Login</a></li>
                         <li><a href="{% url 'userRegistration' %}">Sign up</a></li>
                        {% endif %}
                        {%  if request.user.is_superuser %}
                        <li><a href="">More Actions</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'brands' %}">Brand Register</a></li>
                                <li><a href="{% url 'products' %}">Product Register</a></li>
                                <li><a href="{% url 'orders' %}">View Orders</a></li>
                            </ul>
                        </li>
                        {%else%}
                         <li><a href="{% url 'cart-items'%}">Your Orders</a></li>

                        {% endif %}

                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->


    {%block body_block%}


    {% endblock %}


    <!-- Footer Section Begin -->
    <footer class="footer-section" style="margin-top:150px;position:relative;">
                <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 d-flex align-items-center justify-content-center">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'js/jquery.dd.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>