{% extends 'mobile/base.html' %}
{% block body_block %}
 <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="register-form">
                        <h2>Register</h2>
                        <form action="" method="post">{% csrf_token %}
                            <div class="group-input">
                                <label >Username *</label>
                                {{ form.username}}
                            </div>
                            <div class="group-input">
                                <label >Firstname *</label>
                                {{ form.first_name}}
                            </div>
                            <div class="group-input">
                                <label >Lastname *</label>
                                {{ form.last_name}}
                            </div>
                            <div class="group-input">
                                <label >Email *</label>
                                {{ form.email}}
                            </div>
                            <div class="group-input">
                                <label >Password *</label>
                                {{ form.password1}}
                            </div>
                            <div class="group-input">
                                <label >Confirm Password *</label>
                                {{ form.password2}}
                            </div>

                            <button type="submit" class="site-btn login-btn">Sign In</button>

                        </form>
                        <div class="switch-login">
                            <a href="{%url 'userLogin'%}" class="or-login">Or Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->


{% endblock %}